.footer {
    height: 10vh;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #FFF;
    margin: 0;
    padding: 0;
}