<!-- Image and text -->
<nav class="navbar navbar-light bg-4cadia">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo_white.png" height="30" class="d-inline-block align-top" alt="">
    </a>
  
    <ul class="nav justify-content-end ">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mission</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Values</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </nav>