<nav class="contact bg-4cadia-blue">
<!-- Material form contact -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Contact us</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="#!">

            <!-- Name -->
            <div class="md-form mt-3">                
                <label for="materialContactFormName">Name</label>
                <input type="text" id="materialContactFormName" class="form-control">
            </div>

            <!-- E-mail -->
            <div class="md-form">
                <label for="materialContactFormEmail">E-mail</label>
                <input type="email" id="materialContactFormEmail" class="form-control">
            </div>

            <!--Message-->
            <div class="md-form">
                <label for="materialContactFormMessage">Message</label>
                <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="3"></textarea>
            </div>

            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Send</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->
</nav>
