<nav class="contact bg-4cadia-blue">
  <div id="contact" class="contact-section">

    <div class="contact-content">

      <!-- Main Label -->
      <h5 class="text-contact">
        <strong>CONTACT US</strong>
      </h5>

      <!-- Personal Information: Name and Email -->
      <label class="input_label">Personal Information:</label>

      <div class="text-input--col2">
        <input class="input" type="text" placeholder="Full Name" />
        <input class="input" type="text" placeholder="Email" />
      </div>

      <!-- Message -->
      <label class="input_label">Message:</label>
      <div class="text-input">
        <input class="input" type="text" placeholder="Type your message" />
      </div>

      <!-- Send button -->
      <button class="btn btn-send btn-rounded btn-block waves-effect" type="submit">Send</button>
    </div>
  </div>
</nav>
