<nav class="value bg-4cadia-mediumblue">
  <div>
    <p class="title-value">Values</p>
  </div>

  <div class="card-value">

    <div class="card-body">
      <h5 class="card-title">Ethic</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title">Daring</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title">Meritocracy</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title">Loved-Co</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title">Adaptability</h5>
    </div>
  </div>
</nav>
